h2,
h3,
#score {
  text-align: center;
  color: var(--primary-color);
}

.game-over-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#score,
#user-info {
  width: 50%;
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 20px var(--intermediate-color);
  border-radius: 10px;
}

#user-info div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.username-input {
  flex: 1;
  margin: 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
}
