main {
  margin: 10px;
  padding: 10px;
}

#game-section {
  margin: auto;
  max-width: 1440px;
  text-align: center;
  border-radius: 10px;
  background-color: hsl(from var(--primary-color) h s l / 0.1);
}

#question {
  padding: 1rem;
  min-height: 4.5em;
  text-align: center;

  border-bottom: solid 2px hsla(10, 91%, 25%, 0.5);
}

#question h2 {
  display: inline-block;
  margin: 5px auto;
}

.game {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.game > * {
  margin: 10px;
}

.movie-card {
  width: 300px;
  height: 600px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: auto;
}

.game-option {
  height: 30px;
}

.movie-name {
  margin-top: auto;
  text-decoration: underline;
}

.game #higher-lower-btns {
  flex-basis: 100%;
}

.movie-poster {
  flex-basis: 1;
}

.movie-poster img {
  border: solid black;
  max-width: 100%;
}

.img-placeholder {
  flex-grow: 1;
  background-color: currentcolor;
  cursor: wait;
  display: inline-block;
  min-height: 1em;
  opacity: 0.5;
  vertical-align: middle;

  animation: placeholder-glow 2s ease-in-out infinite;
}

.buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@keyframes placeholder-glow {
  50% {
    opacity: 0.2;
  }
}

@media screen and (max-width: 750px) {
}
