/* general css code to share between pages */
@import 'https://fonts.googleapis.com/css?family=Fascinate+Inline';
@font-face {
  font-family: reachTheEnd;
  src: url('./assets/fonts/ReachTheEnd-Xmz2.ttf');
}

:root {
  --primary-color: #791006;
  --intermediate-color: #c83712;
  --secondary-color: #f5d380;

  --title-font: reachTheEnd;
  --button-font: normal 100% 'sans-serif';
}

body {
  background-color: var(--secondary-color);
  font-size: clamp(100%, 1rem + 2vw, 16px);
}

h1 {
  color: var(--intermediate-color);
  font-family: var(--title-font);

  --minFontSize: 32px;
  --maxFontSize: 150px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
}

main {
  margin: 10% 0;
}

/* custom button css */
.custom-btn {
  display: block;
  margin: 10px;
  padding: 0 1rem;
  min-height: 50px;
  max-width: 200px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: var(--intermediate-color);
  border: 2px outset black;
  border-radius: 10px;
  white-space: nowrap;
  font: var(--button-font);
  box-shadow: 0 5px #999;

  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.custom-btn:hover:not(:disabled) {
  cursor: pointer;
  color: var(--secondary-color);
  border-color: var(--primary-color);
}

.custom-btn:active:not(:disabled) {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.custom-btn:disabled {
  opacity: 0.5;
  color: linen;
  background-color: dimgrey;
  box-shadow: none;
}

.custom-btn:disabled:hover {
  cursor: not-allowed;
}

a.custom-btn {
  /* make anchor look like buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 750px) {
  body,
  main {
    margin: 0;
  }
  .custom-btn {
    min-height: 25px;
  }
}
