#scores table,
#scores td {
  margin: 1px;
  border: 1px solid #333;
}

#scores thead,
#scores tfoot {
  background-color: var(--primary-color);
  color: #fff;
}

#scores table {
  border-spacing: 0 px;
  border-collapse: collapse;
}

#scores h2 {
  color: var(--secondary-color);
}

#scores tbody tr {
  display: flex;
}

#scores td {
  flex: 1;
}
