#scores table {
  margin: 5px;
}

#scores thead,
#scores tfoot {
  background-color: var(--primary-color);
  color: #fff;
}

#scores thead tr th {
  border-radius: 5px;
}

#scores h2 {
  color: var(--secondary-color);
}

#scores tbody {
  height: 300px;
  display: block;
  overflow: auto;
  border-radius: 5px;

  color: white;
  background-color: hsl(5, 59%, 34%);
}

#scores tbody tr {
  display: flex;
  padding: 5px;
}

#scores tbody .table-legend {
  background-color: hsl(12, 83%, 43%);
}

#scores .score-data {
  border-bottom: hsla(0, 0%, 100%, 0.1) solid 1px;
}

#scores .score-data:hover {
  background-color: hsl(5, 50%, 34%);
}

#scores td {
  flex: 1;
  font-size: 20px;
  text-align: center;
}
